@import "../../../assets/styles/colors";
.CustomButton {
  .custom-btn {
    height: 40px;
    background-color: $white;
    border-radius: 3px;
    font-size: 16px;
    color: $blue;
    border: 1px solid $blue;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    &:hover {
      background-color: $blue;
      color: $white;
    }
    .icon-button {
      margin-right: 8px;
    }
    .button-label {
      text-transform: uppercase;
    }
  }
}